.tableTitle {
  font-size: 16px;
  margin-bottom: 15px;
  color: #5C5CBB;
}

.head {
  color: #5C5CBB;
  font-size: 16px;
  margin: 20px 0;
  vertical-align: top;

  span {
    vertical-align: top;
    float: left;
  }

  img {
    float: left;
    margin-right: 15px;
    height: 100%;
  }

}

.backBtn {
  float: left;
  margin-left: 20px;
}

.title {
  color: #5C5CBB;
  padding: 8px;
}

.detailTable {
  th {
    border-right: 1px solid #000!important;
    border-bottom: 1px solid #000!important;
  }

  td {
    color: rgba(255, 255, 255, 0.9);
  }

  table {
    border-bottom: none!important;
    border-right: none!important;

    tbody tr:hover td {
      background-color: #395263!important;
    }
  }

}
