.cardContainer {
  width: 100%;
  height: 100%;
}

.flexBox {
  display: flex;
  width: 1000px;
}

.left {
  width: 380px;
  margin-right: 3px;
  display: flex;
  flex-wrap: wrap;
}

.announceList {
  width: 380px;
  padding: 10px 24px;
  margin-bottom: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #b8c6cc!important;
  height: 400px;

  button {
    &:active,
    &:focus,
    &:hover {
      color: #fff!important;
    }
  }
}

.annouceBottom {
  width: 380px;
  height: 150px;

}

.album {
  background-color: rgba(255, 255, 255, 0.1);
  float: left;
  width: 200px;
  height: 150px;

  img {
    width: 200px;
    height: 150px;
  }
}

.gamerCounts {
  background-color: rgba(255, 255, 255, 0.1);
  float: right;
  width: 177px;
  height: 150px;

  ul {
    color: #b8c6cc;
    padding: 10px;

    li {
      line-height: 24px;
    }
  }
}

.center {
  width: 425px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 3px;
}

.video {
  width: 100%;
  height: 300px;
  margin-bottom: 3px;

  video {
    width: 100%;
    height: 100%;
  }
}

.market {
  height: 160px;
  width: 100%;
  display: flex;
}

.innerItem {
  height: 158px;
  background-color: rgba(255, 255, 255, 0.1);

  ul {
    color: #b8c6cc;

    li {
      line-height: 24px;
    }
  }
}

.btn {
  width: 100%;
  background: #230800;
  height: 51px;
  line-height: 51px;
  text-align: center;
  margin-bottom: 3px;
  color: #b5c4ca;
}

.myLink {
  color: #b5c4ca;
}

.service {
  width: 100%;
  height: 89px;
  background-color: rgba(255, 255, 255, 0.1);

  ul {
    color: #b8c6cc;
    padding: 10px;

    li {
      line-height: 26px;
    }
  }

  .worTime {
    float: left;
  }

  .qqLeague {
    float: left;
    margin-left: 10px;
  }
}

.right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.rightTop {
  width: 100%;
  height: 250px;
  padding: 10px 10px;
  margin-bottom: 3px;
  color: #b8c6cc;
  background-color: rgba(255, 255, 255, 0.1);
}

.rightBottom {
  width: 100%;
  height: 300px;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0 0 20px;
  color: #b8c6cc;

  a {
    color: #b8c6cc;
  }
}

.topCourse {
  width: 1000px;
  height: 245px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 3px;
}

.courseImg {
  height: 245px;
}

.title {
  font-size: 13px;
  color: #fff;
}

.funcs {
  margin-top: 10px;

  li {
    padding-left: 20px;

    a {
      font-size: 13px;
      line-height: 26px;
    }

    &:hover {
      background-color: #446379;
    }
  }
}

.siege {
  margin-top: 10px;

  li {
    line-height: 23px;

    &:hover {
      background-color: #446379;
    }
  }
}

:global {
  .ant-carousel .slick-slide {
    text-align: center;
    overflow: hidden;
  }

  .ant-menu-item-selected span {
    color: #fff!important;
  }
}

.annouTop {
  color: #b8c6cc;
  border: none;
  margin-right: 6px;
  font-size: 14px;
}

.menu {
  line-height: 40px;
  background-color: transparent;
  font-size: 14px;
  border: none;

  li {
    padding: 0 15px;
  }
}

.updateLink {
  display: inline-block;
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #b8c6cc!important;
  padding: 3px 0;

  &:hover {
    a {
      color: #395A8C;
    }

  }
}
