.normal {
  max-height: 80px;
  overflow: hidden;
  // position: fixed;
  // width: 100%;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

.logo {
  display: block;
  width: 120px;
  float: left;
  text-align: center;

  img {
    height: 75px;
    position: relative;
    right: 10px;
  }
}

.logo > a {
  display: block;
  font-size: 24px;
}

.menu {
  line-height: 80px;
  background-color: transparent;
  width: 1000px;
  margin: 0 auto;
}

:global {
  .ant-layout-header {
    height: 80px;
    line-height: 80px;
  }
}

.userName {
  display: inline-block;
  width: 80px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 340px;
  font-size: 14px;
}
