.normal {
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;

}

:global {
  label.ant-form-item-required {
    color: #fff;
  }

  label {
    color: #fff;
  }
  .ant-modal-body{
    min-height: 200px;
  }
}
